{
    "endOfLine": "auto",
    "arrowParens": "avoid",
    "trailingComma": "es5",
    "semi": true,
    "tabWidth": 4,
    "printWidth": 100,
    "singleQuote": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": true
}
